.tf-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-radius: 13px;
    -fx-text-fill: black;
}

.black_button {
    -fx-background-color: #A36969;
    -fx-text-fill: #FFFFFF;
}

.heading {
    -fx-font-family: "Montserrat SemiBold";

}

.background {
    -fx-background-color: #FFEDED;
}

.white-background {
    -fx-background-color: #FFFFFF;
}

.white-font {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Harlow Solid Italic";
    -fx-font-size: 28px;
}