.tf-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-radius: 13px;
    -fx-text-fill: black;
}

.black-button {
    -fx-background-color: #030A45;
    -fx-text-fill: #FFFFFF;
}

.heading {
    -fx-font-family: "Montserrat SemiBold";

}

.background {
    -fx-background-color: #FFEDED;
}

.white-background {
    -fx-background-color: #FFFFFF;
}